LessonsLearned/Website/Web References/EAuthWS/EnterpriseAuthenticationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://EAWS.PCACORP.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://EAWS.PCACORP.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://EAWS.PCACORP.NET/">
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationLogSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationLog" />
  </wsdl:message>
  <wsdl:message name="GetApplicationLogSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationLogResponse" />
  </wsdl:message>
  <wsdl:portType name="EnterpriseAuthenticationWebServiceSoap">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationLog">
      <wsdl:input message="tns:GetApplicationLogSoapIn" />
      <wsdl:output message="tns:GetApplicationLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnterpriseAuthenticationWebServiceSoap" type="tns:EnterpriseAuthenticationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://EAWS.PCACORP.NET/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationLog">
      <soap:operation soapAction="http://EAWS.PCACORP.NET/GetApplicationLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnterpriseAuthenticationWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service provides a central service for LDAP authentication.  Each application using this service must be authorized.  Please contract csharpe@petro-canada.ca for authorization</documentation>
    <wsdl:port name="EnterpriseAuthenticationWebServiceSoap" binding="tns:EnterpriseAuthenticationWebServiceSoap">
      <soap:address location="http://pcaw2s1/EAuthWS/EnterpriseAuthenticationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>